<div class="wrapper" *ngIf="character">
  <div class="clash-card" [ngClass]="onSelectClashCard()">
    <div class="clash-card__image" [ngClass]="onClashCardImage()">
      <img src="{{character.imgUrl}}" alt="{{character.name}}" />
    </div>
    <div class="clash-card__level" [ngClass]="onSelectCardLevel()">Level {{character.level}}</div>
    <div class="clash-card__unit-name">The {{character.name | titlecase }}</div>
    <div class="clash-card__unit-description">{{character.description}}</div>

    <div class="clash-card__unit-stats clearfix" [ngClass]="onSelectCardUnitStat()">
      <div class="one-third">
        <div class="stat">{{character.training}}<sup>S</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">{{character.speed}}</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">{{character.cost}}</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div>
</div>
